* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--gradient-bg);
}

a {
  color: unset;
  text-decoration: none;
}

/* @media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
} */
.app_header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_header h1{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 2rem 2rem;
}