@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --gradient-bg: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  --font-family: 'Inter', sans-serif;
  --color-bg: #caf0f8;
  --color-text: #222223;
  --color-subtext: #535354;;
}